In [1]:
import sqlalchemy as sa

In [2]:
%load_ext sql

In [3]:
%sql postgresql://postgres:12345@localhost:5432/Hotel

#postgresql://username:password@hostname/dbname

In [5]:
%%sql

select * 
from hotel_bookings
limit 5

 * postgresql://postgres:***@localhost:5432/Hotel
5 rows affected.

[('Resort Hotel', 0, 342, 2015, 'July', 27, 1, 0, 0, 2, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 3, 'No Deposit', 'NULL', 'NULL', 0, 'Transient', Decimal('0'), 0, 0, 'Check-Out', datetime.date(2015, 7, 1), '0'),
 ('Resort Hotel', 0, 737, 2015, 'July', 27, 1, 0, 0, 2, 0, 'BB', 'PRT', 'Direct', 'Direct', 0, 0, 0, 'C', 'C', 4, 'No Deposit', 'NULL', 'NULL', 0, 'Transient', Decimal('0'), 0, 0, 'Check-Out', datetime.date(2015, 7, 1), '0'),
 ('Resort Hotel', 0, 7, 2015, 'July', 27, 1, 0, 1, 1, 0, 'BB', 'GBR', 'Direct', 'Direct', 0, 0, 0, 'A', 'C', 0, 'No Deposit', 'NULL', 'NULL', 0, 'Transient', Decimal('75'), 0, 0, 'Check-Out', datetime.date(2015, 7, 2), '0'),
 ('Resort Hotel', 0, 13, 2015, 'July', 27, 1, 0, 1, 1, 0, 'BB', 'GBR', 'Corporate', 'Corporate', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '304', 'NULL', 0, 'Transient', Decimal('75'), 0, 0, 'Check-Out', datetime.date(2015, 7, 2), '0'),
 ('Resort Hotel', 0, 14, 2015, 'July', 27, 1, 0, 2, 2, 0, 'BB', 'GBR', 'Online TA', 'TA/TO', 0, 0, 0, 'A', 'A', 0, 'No Deposit', '240', 'NULL', 0, 'Transient', Decimal('98'), 0, 1, 'Check-Out', datetime.date(2015, 7, 3), '0')]

In [13]:
%%sql
SELECT hotel, 
    COUNT(hotel) AS count
FROM hotel_bookings
GROUP BY hotel;

 * postgresql://postgres:***@localhost:5432/Hotel
2 rows affected.

[('City Hotel', 79330), ('Resort Hotel', 40060)]

In [16]:
%%sql
SELECT hotel, 
    ROUND(AVG(lead_time), 2) AS lead_time_avg
FROM hotel_bookings
GROUP BY hotel;

 * postgresql://postgres:***@localhost:5432/Hotel
2 rows affected.

[('City Hotel', Decimal('109.74')), ('Resort Hotel', Decimal('92.68'))]